html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.main-header {
  background-image: url("../images/header.jpg");
}
/* ここから */
header {
  background-color: #333333;
  height: 80px;
}
*{
  margin: 0;
  padding: 0;
}
header ul {
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  display: block;
}
.left{
  float: left;
}
.right{
  float: right;
}
/* ここまでがheader部分の実装 */
.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
padding: 10%;
}
.about {
/* About Achieve部分の実装 */
padding: 10px;
}
/* ここから */
.function {
  background: #B1B1B1;
}
.function .function_inner .function-images {
  background: #B1B1B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3rem 10rem;
  margin-bottom: 3rem;
}
.function-images {
  width: 1120px;
  margin: auto;
}
.function-image {
  float: left;
  padding:30px 75px;
}
/* ここまでがfunction部分の実装 */
footer {
  width: 100%;
  height: auto;
  background: #2c3d4f;
  position: absolute;
  bottom: 0;
}
footer .footer_inner {
  padding: 2rem;
}
footer .footer_inner p {
  text-align: center;
  font-size: 0.6rem;
  color: #fff;
}
footer .footer_inner p:first-child {
  margin-bottom: 0.2rem;
}